<!DOCTYPE html>
<html>
  <head>
    <title>My Piggybank</title>
    <!-- <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'> -->
    <link href='https://fonts.googleapis.com/css?family=Indie+Flower|Gloria+Hallelujah|Crafty+Girls|Coming+Soon' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style.css" media="screen" title="no title" charset="utf-8">
<style media="screen">


</style>


  </head>
  <body>
    <div id="nav_wrapper">
      <span class="title"><%= @title %></span>
        <nav id="nav">

          <button name="button"><a href="/">Kids Home</a></button>
          <button name="button"><a href="/parents">Parent Login</a></button>
        </nav>
    </div>


    <div id="wrapper">

     <%= yield %>
    </div>
  </body>
</html>
