<!DOCTYPE html>
<html>
  <head>
    <title>My Piggybank</title>
    <!-- <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'> -->
<style media="screen">
  body {
    margin: 0;
    padding: 0;
    font-family: helvetica;
    height: 100%;
  }

#wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}


  #nav_wrapper {
    width: 100%;
    top: 0;
    left: 0;
    height: 30px;
    background-color: lightblue;
  }

  #nav {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
  }

  button, a {
    background: darkblue;
    color: white;
  }

</style>


  </head>
  <body>

    <div id="wrapper">
      <div id="nav_wrapper">
          <nav id="nav">
            <button name="button"><a href="/">Home</a></button>
            <button name="button"><a href="/parents">Parents</a></button>
          </nav>
      </div>
     <%= yield %>
    </div>
  </body>
</html>
