<!DOCTYPE html>
<html>
  <head>
    <title>My Piggybank</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href='https://fonts.googleapis.com/css?family=Crafty+Girls|Indie+Flower' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/business-casual.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/styles.css" media="screen" title="no title" charset="utf-8">
<style media="screen">


</style>


</head>
<body>
  <header>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" href="index.html">My Piggybank</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/parents">Parent Login</a>
                    </li>
                    <li>
                        <a href="/">Kids Home</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="brand">My Piggybank</div>

  </header>

  <!-- <nav id="nav">
    <a href="/">Kids Home</a>
    <a href="/parents">Parent Login</a>
  </nav> -->

    <div class="container">

     <%= yield %>
    </div>
  </body>
</html>
