<style media="screen">

#parents {
  position: absolute;
  top:30px;
  right:0px;
  left:0px;
  bottom: 0px;
  margin:0 auto;
  font-size: 100px;
  color: red;
  background-color: lightgrey;
}

</style>

<div id="parents">

</div>
