<div class="page_frame">

<div class="list_frame">
    <% if @parents.any?() %>
      <ul>
        <% @parents.each() do |parent| %>
          <li><a href="/parents/<%=parent.id%>"><%= parent.bank_name %></a></li>
        <% end %>
      </ul>
    <% else %>
    <% end %>
<div>


  <div class="form_div">

      <h2>Add a parent/bank</h2>
      <form id="formid" action="/parents" method="post">
        <input type="text" name="parent_name" placeholder="Enter your name">
        <input type="text" name="bank_name" placeholder="Name your bank">
        <button type="submit">Add Parent/Bank</button>
      </form>

  </div>



</div>
