/*layout*/

body {
  margin: 0;
  padding: 0;
  font-family: helvetica;

  /*height: 100%;*/
}


#wrapper {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 900px;
  background-color: cornsilk;
}

#nav_wrapper {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 50px;
  background-color: lightsteelblue;

}

#nav_wrapper .title {
  position: relative;
  left: 20px;
  top: 5px;
  font-size: 36px;
  color: darkblue;
  font-weight: bold;
}

#nav {
  float: right;
  margin-right: 5px;
  margin-top: 5px;
}


/*index/home*/
button, a {
  background: darkblue;
  color: white;
}


#footer {
  font-size: 2em;
  font-weight: bold;
  background-color: lightsteelblue;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
}
 #footer input {
   font-size: 1em;
   font-family: 'Coming Soon';
   text-align: center;
   border: 2px solid black;
   background: #FFFACD;
 }

.content {
  font-family: 'Coming Soon';
  vertical-align: middle;
  text-align: center;
  display: block;
  line-height: 100x;
  top: 50px;
  margin: 0 auto;
  width: 500px;
  }

.content p {
  font-size: 48px;
  font-weight: bold;
}

img{
  width: 100%;
  height: 100%;
}

.form_div {
  width: 900px;
  margin: 0 auto;
  background-color: inherit;
}

/*parents*/
.page_frame {
  background-color: inherit;
}

.list_frame {
  background-color: inherit;
  margin: 30px;
}

.list_frame a {
  background-color: cornsilk;
  color: black;
}

.table {
  width: 500px;
  cellpadding: 10px;
  cellspacing: 5px;
}

th{
  background: darkblue;
  color: white;
  cellpadding: 10px;
  width: 100px;
  font-size: .8em;
  font-weight: normal;
  text-align: center;
}

td {
  min-width: 100px;
  background: lightgray;
}

.money{
  text-align: right;
}
